* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
    to right,
    rgb(0, 242, 177),
    rgb(10, 192, 208)
  );
}

.header {
  background-color: aquamarine;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin-top: 10px;
  text-align: center;
}

li {
  display: inline;
}

a {
  color: black;
}

table {
  border-collapse: collapse;
  padding: 10px;
  margin: auto;
  box-shadow: 1px 1px 20px #888888;
}

.th {
  background-color: aquamarine;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
}

.tr-white {
  background-color: white;
}

footer {
  margin-top: 50px;
  background-color: aquamarine;
  text-align: center;
  padding: 35px;
  font-weight: bold;
  font-family: cursive;
}
